:root {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #eee;
  background-color: #222;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem auto 1rem;
  text-decoration: underline;
  letter-spacing: 0.5rem;
}
.section-img {
  padding: 3rem;
  text-align: center;
  img {
    border: 5px solid #0090de;
    border-radius: 1rem;
    cursor: text;
    width: min(700px, 70vw);
    transition: scale 500ms ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}
main {
  padding: 0 20vw;
}
article {
  margin: 3rem 0;
  font-size: 1.1rem;
  line-height: 2rem;
  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
.scroll {
  outline: 1px solid #fff;
  padding: 5rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 2rem;
  }
}
.scroll span {
  color: hsla(0, 0%, 100%, 0.2);
  background-image: linear-gradient(135deg, #0090de, blue);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}
.scroll h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 25vh;
}
.scroll p span {
  animation-range-start: cover 25vh;
  animation-range-end: cover 50vh;
}
@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
.bar {
  width: 100%;
  height: 0.3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 1rem 1rem 0;
  /* scroll animation */
  animation-name: scrollFrames;
  animation-timeline: scroll(root block);
  animation-timing-function: linear;
  animation-range: 10% 100%;
}
@keyframes scrollFrames {
  from {
    width: 0;
    background-color: yellow;
  }
  to {
    width: 100%;
    background-color: lime;
  }
}

.img-java {
  text-align: center;
}
.img-java img {
  height: 40vh;
  border-radius: 1rem;
  border: 3px double #0090de;
  /* view animation */
  animation-timeline: view(y 70% auto);
  animation-name: viewFrames;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.1, 1, 0.7, 1);
}
@keyframes viewFrames {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
